@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Start: Nav */
nav ul {
  list-style: none;
  border-top: 6px solid #e6af2e;
  background-color: #191716;
}

nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 15px 25px;
  color: #e6af2e;
  transition: color 1s ease;
}

nav ul li a:hover {
  color: #e0e2db;
}

.logo {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 40px;
  background: #e6af2e;
  color: #191716;
  font-style: italic;
  transition: all 1s ease;
}

.logo:hover {
  background: #e0e2db;
  color: #e6af2e;
}

/* Start: Media Query */
@media screen and (min-width: 576px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  nav ul li {
    flex: 1 0 auto;
  }

  .logo {
    display: block;
    text-align: center;
  }

  .logo .fa {
    display: none;
  }
}
/* End: Media Query */
/* End: Nav */
