@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Start: Universal Styles */

/* Start: Title */
.title {
  margin: 40px 0;
}

.title-text {
  text-align: center;
  font-size: 40px;
  color: #e0e2bd;
  font-style: italic;
  text-transform: uppercase;
}

.title-underline {
  width: 200px;
  border: 3px solid #e6af2e;
  margin: 0 auto;
}
/* End: Title */

/* End: Universal Styles */

/* Start: Nav */
nav ul {
  list-style: none;
  border-top: 6px solid #e6af2e;
  background-color: #191716;
}

nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 15px 25px;
  color: #e6af2e;
  transition: color 1s ease;
}

nav ul li a:hover {
  color: #e0e2db;
}

.logo {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 40px;
  background: #e6af2e;
  color: #191716;
  font-style: italic;
  transition: all 1s ease;
}

.logo:hover {
  background: #e0e2db;
  color: #e6af2e;
}

/* Start: Media Query */
@media screen and (min-width: 576px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  nav ul li {
    flex: 1 0 auto;
  }

  .logo {
    display: block;
    text-align: center;
  }

  .logo .fa {
    display: none;
  }
}
/* End: Media Query */
/* End: Nav */

/* Start: Banner */
#banner {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/background-banner.jpg);
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  font-size: 50px;
  text-transform: uppercase;
  color: #e0e2db;
  font-style: italic;
}

.banner-underline {
  width: 200px;
  border-top: 3px solid #191716;
  margin: 10px auto 20px auto;
}

.banner-btn {
  display: flex;
  justify-content: space-between;
}

.banner-btn button {
  font-size: 30px;
  padding: 15px;
  text-transform: uppercase;
  margin: 0 10px;
  background: transparent;
  color: #e6af2e;
  cursor: pointer;
  border: 2px solid #e6af2e;
  transition: all 0.5s ease-in;
}

.banner-btn button:focus {
  outline: none;
}

.banner-btn button:hover {
  color: #e0e2db;
  background: #e6af2e;
}

/* Start: Media Query */
@media screen and (min-width: 576px) {
  #banner {
    background-attachment: fixed;
  }
}
/* End: Banner */

/* Start: Skills */
#skills {
  padding: 60px 0;
  background-color: #beb7a4;
}

.skills-container {
  max-width: 95vw;
  margin: 0 auto;
}

.skills-item {
  text-align: center;
  margin: 20px 0;
}

.skills-item .fa {
  font-size: 60px;
  color: #191716;
}

.skills-item h1 {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 30px 0;
  color: #e6af2e;
  text-transform: uppercase;
}

.skills-item p {
  width: 75%;
  margin: 0 auto;
  color: #e0e2bd;
}

/* Media Queries */
@media screen and (min-width: 576px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

@media screen and (min-width: 992px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
  }
}

/* End: Skills */

/* Start: Services */

/* End: Services */
